
{% extends 'hospital/base.html' %}

{% block content %}

 


<div class="container" style="margin-top: 60px;">
<h2 class="text-center text-success font-weight-bold">View Doctor</h2>
<br>
</div>
<table id="example" class="table table-hover display" style="width:100%">
	<thead>
		<tr>
			<th>Doctor ID</th>
			<th>Doctor Name</th>
			<th>Contact</th>
			<th>Specialization</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		{% for i in doc %}
		<tr>
			<td>{{i.id}}</td>
			<td>{{i.name}}</td>
			<td>{{i.contact}}</td>
			<td>{{i.specialization}}</td>
			<td>{{i.remove}}</td>
			
			

			<td><a class ="btn btn-danger" href="{%url 'delete_doctor' i.id%}" onclick="return confirm(Are you sure?)">Delete</a></td>
		
		</tr>
		{% endfor %}
	</tbody>
</table>
{%endblock %}